/express1/node_modules/.bin/
npm-debug.log
/ori/p1/app/Config/database.php
/ori/p1/app/Config/core.local.php

# Directory's to ignore - some will include files without extensions #
#########################
ori/p1/app/tmp/cache/*.*
ori/p1/app/tmp/cache/*
ori/p1/app/tmp/logs/*
ori/p1/app/tmp/logs/*.*

